/* ==========================================================================
   Copy
   ========================================================================== */

/**
 * Scoped styles of blocks of (body) content
 */

.copy {

	/* Contain
	   ========================================================================== */

	&--contain {

		> *:not(.full-width) {
			@extend %contain-padding;
		}
	}

	/* Text max width
	========================================================================== */

	&--max-width {

		> h1, > h2, > h3, > h4, > h5, > h6,
		> p,
		> ul li,
		> ol li,
		> dl dt,
		> dl dd,
		> time,
		> table,
		> form,
		figcaption,
		> .figure-image.text-width {
			max-width: $text-max-width;
		}

		> .blockquote,
		> .figure-image:not([class*="-width"]),
		> .figure-grid:not([class*="-width"]) {
			max-width: $contain-max-width;
		}

		> *,
		figcaption {
			margin-right: auto; // Center maximized text 'column'
			margin-left: auto;
		}
	}

	/* Vertical spacing
	   ========================================================================== */

	/**
	 * Set default vertical spacing for all elements that have not a `figure-*`
	 * class and are not preceded by an element with a `figure-*` class.
	 *
	 * Based on 'The "Leftover Glue" problem' solution:
	 * http://slides.com/heydon/effortless-style/#/22
	 */

	> *:not([class*="figure-"]) + *:not([class*="figure-"]) {
		margin-top: rhythm(1);
	}

	/**
	 * Reset (decrease) some margins for better typography (proximity)
	 * See: http://zellwk.com/blog/wrong-about-vertical-rhythm/
	 */

	> *:not([class*="figure-"]) + p,
	> *:not([class*="figure-"]) + ul,
	> *:not([class*="figure-"]) + ol,
	> *:not([class*="figure-"]) + dl {
		margin-top: rhythm(.5) !important;
	}

	> h2 + > *:not([class*="figure-"]),
	> h3 + > *:not([class*="figure-"]) {
		margin-top: rhythm(.5) !important;
	}

	> h4 + p:not([class*="figure-"]),
	> h5 + p:not([class*="figure-"]),
	> h6 + p:not([class*="figure-"]) {
		margin-top: 0 !important;
	}

	/**
	 * Set additonal vertical spacing 'above' `figure-*` blocks:
	 */

	> *:not([class*="figure-"]) + .figure-grid, // [1]
	> *:not([class*="figure-"]) + .figure-image { // [1]
			margin-top: rhythm(3);
	}

	/**
	 * Set additonal vertical spacing 'below' `figure-*` blocks:
	 */

	> .figure-grid + *:not([class*="figure-"]), // [2]
	> .figure-image + *:not([class*="figure-"]) { // [2]
			margin-top: rhythm(3);
	}

	/**
	 * Set additonal vertical spacing 'inbewteen' `figure-*` blocks.
	 * To apply the rhythm based spacing add `.copy--gutter` class
	 * to the copy wrapper element or `.copy--percentage-gutter`
	 * to make it percentage based.
	 */

	&--gutter { // [3]

		.figure-image + .figure-image > span,
		.figure-grid + .figure-image > span,
		.figure-grid + .figure-grid .grid__cell,
		.figure-image + .figure-grid .grid__cell,
		*:not([class*="figure-"]) + .figure-grid .grid__cell {
			margin-top: rhythm($grid-gutter-rhythm-unit);
		}

		// Undo top margin by negetively offsetting the whole grid row
		*:not([class*="figure-"]) + .figure-grid .grid {
			margin-top: rhythm(-$grid-gutter-rhythm-unit);
		}

		.grid {
			@extend %grid--gutter;
		}
	}

	&--percentage-gutter { // [3]

		.figure-image + .figure-image > span,
		.figure-grid + .figure-image > span,
		.figure-grid + .figure-grid .grid__cell,
		.figure-image + .figure-grid .grid__cell,
		*:not([class*="figure-"]) + .figure-grid .grid__cell {
			margin-top: $grid-spacing-percentage;
		}

		// Undo top margin by negetively offsetting the whole grid row
		*:not([class*="figure-"]) + .figure-grid .grid {
			margin-top: -$grid-spacing-percentage;
		}

		.grid {
			@extend %grid--percentage-gutter;
		}
	}

	/* Hyphenation
	========================================================================== */

	> p,
	> ul li,
	> ol li,
	> dl dt,
	> dl dd,
	> time,
	> table,
	figcaption p {
		hyphens: auto;
	}

	/**
	 * Overrule hyphenation
	 *
	 * For Kirby tag 'nohyphen';
	 * Usage: (nohyphen: <your text not to be hyphenated>)
	 */

	.text-no-hyphen {
		hyphens: none;
	}

	/* Paragraphs
	   ========================================================================== */

	// p:first-of-type { }

	// p:first-child { }

	// p + p {
	// 	margin-top: rhythm(-1);
	// 	text-indent: rhythm(1);
	// }

	// p:first-child:first-letter { }

	/* Headings
	   ========================================================================== */

	/* Scoped headings (see extend-selectors.scss for corresponding 'unscoped' classes) */

	// h1.tera-heading { @extend .tera-heading; }
	// h1.giga-heading { @extend .giga-heading; }
	// h1.mega-heading { @extend .mega-heading; }

	h1 { @extend .alpha-heading; }
	h2 { @extend .beta-heading; }
	h3 { @extend .gamma-heading; }
	h4 { @extend .delta-heading; }
	h5 { @extend .epsilon-heading; }
	h6 { @extend .zeta-heading; }

	/* Figures
	   ========================================================================== */

	// figcaption {}

	/* Pull, block- and run-in quotes
	   ========================================================================== */

	// .quote {}

	// .blockquote {}

	// .pullquote {}

	/* Inline Elements
	   ========================================================================== */

	i,
	em,
	cite {
		@extend %text-italic;
	}

	b,
	strong {
		@extend %text-bold;
	}

	small {
		@extend %text-small;
	}

	time {
		@extend %text-time;
	}

	/* Addresses styling not present in IE7/8/9 */

	mark {
		background-color: rgb(248,248,0);
		color: $color-base-black;
	}

	ins {
		@include underline($color-gray-m-light, rgb(253,254,206));

		background-color: rgb(253,254,206);
		color: $color-base-black;
	}

	del {
		background-color: rgb(248,0,0);
		color: $color-base-black;
	}

	/* Addresses styling not present in IE7/8/9, S5, Chrome */

	abbr {
		text-transform: lowercase;
		letter-spacing: .05em;
		font-variant: small-caps; // https://developer.mozilla.org/en-US/docs/CSS/font-variant
	}

	code,
	kbd,
	pre,
	samp {
		@include mono-font();
	}

	code {
		background-color: $color-gray-x-light;
	}

	/* Lists
	   ========================================================================== */

	/* Unordered lists */

	ul,
	ol {
		@extend .list;
	}

	/* Definition lists */

	// dl { }

	dt {
		font-weight: 700;
	}

	dd {
		margin-left: rhythm(1);
	}

	/* Links
	   ========================================================================== */

	a:not(.button) {
		@extend .link;
	}

	/* External page links */

	// [href^="http:"]:not([href*="mydomain.com"]) { }

	/* Secure link */

	// [href^="https"]:before { content: "\1F512 "; }

	/* PDF link */

	// [href$="pdf"] { }

	/* Email link */

	// [href^="mailto:"] { }

	/* Twitter link */

	// [href*="twitter.com"] {}

	/* Tables
	   ========================================================================== */

	table {
		@extend .table;
		@extend .table--striped;
	}
}
