/* ==========================================================================
   Contentinfo (aka site footer)
   ========================================================================== */

.contentinfo {
	margin-top: rhythm(3.5);
	padding-top: rhythm(1.5);
	background-color: $color-gray-xx-light;

	> .copy {
		@extend %text-kern;
		@include responsive-text-size($text-beta);

		hanging-punctuation: first;
		letter-spacing: .01rem;
	}

	footer {
		padding-top: rhythm(1);
		padding-bottom: rhythm(1);
		color: rgba($color-link-dark,.6);

		a {
			position: relative;

			&:hover,
			&:focus {
				color: $color-link-dark;

				.no-touchevents & {
					top: -2px;
					padding-bottom: rhythm(.05);
					border-bottom: 2px solid $color-link-dark;
				}
			}
			&:active {

				.no-touchevents & {
					top: 0;
					border-bottom-width: 0;
				}
			}
		}
	}
}
