/* ==========================================================================
   Contentinfo (aka site footer)
   ========================================================================== */

.contentinfo {
	margin-top: rhythm(2);
	// text-align: center;

	footer {
		padding-top: rhythm(1);
		padding-bottom: rhythm(1);
	}
}
