/* ==========================================================================
   Masthead (aka logo)
   ========================================================================== */

.masthead {
	display: block;
	padding-top: rhythm(.5);
	padding-bottom: rhythm(.5);
}
