/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
	margin-top: rhythm(1);
}

.pagination__list {
	display: flex;
	// justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.pagination__item {
	color: $color-link-light;

	a {
		display: flex;
		// flex-wrap: nowrap; // nowrap is default!
		align-items: center;
		color: $color-link-dark;
		padding: rhythm(.25) 0;

		> svg {
			margin-top: -.1em;
			width: 1em;
			height: 1em;
		}
	}

	&--next {
		margin-left: auto;

		svg {
			margin-left: rhythm(.15);
		}
	}

	&--prev {

		svg {
			margin-right: rhythm(.15);
		}
	}
}
