/* ==========================================================================
   Template
   ========================================================================== */

.template {

	&-temp {
		height: 100%;
		background-color: $color-base-black;

		body {
			min-height: 100%;                                                   // To make 'vertically centered` elements work
		}
	}
}
