/* ==========================================================================
   Template
   ========================================================================== */

.template {
	height: 100%;

	&-temp {
		background-color: $color-base-black;
		border: rhythm(.5) solid rgb(255,255,255);

		body {
			min-height: 100%;                                                    // To make 'vertically centered` elements work
		}
	}
}
