/* ==========================================================================
   Links
   ========================================================================== */

.link {

	// Sometimes, particularly on larger projects, it is useful to scope
	// link styling only to anchors which have 'href' attributes,
	// therefore the use of :link
	&:link {
		// @include underline($color-blue-m-light);

		position: relative;
		transition: color .24s ease-out;
		background-color: transparent; // Remove the gray background on active links in IE 10.
		text-decoration: underline;
		text-decoration-skip: ink; // See: https://css-tricks.com/more-control-over-text-decoration/
		// color: $color-blue-dark;
		color: $color-base-black;
		// color: rgba($color-link-dark,.6);
	}

	&:visited {
		color: $color-gray-light;
	}
	&:hover,
	&:focus {
		color: $color-gray-light;
	}
	&:active {
		color: $color-base-black;
		// transition: none; // Check out article about UI feedback: http://bfred.it/notes/?p=46
	}

	&--simple {

		&:link {
			text-decoration: none;
			// color: $color-base-gray;
			color: rgba($color-link-dark,.6);
		}
	}

	&--lowercase {
		text-transform: lowercase;
	}

	/**
	* No visited link color (browser history)
	*/

	&--no-history {
		&:visited {
			color: $color-base-black;
		}
		&:hover,
		&:focus,
		&:active {
			color: inherit;
		}
	}
}
