/* ==========================================================================
   Icons (svg)
   ========================================================================== */

.icon {
	display: flex;
	// flex-wrap: nowrap; // nowrap is default!
	align-items: center;

	> svg {
		margin-top: -.1em;
		width: 1em;
		height: 1em;
	}
}
